/*
====================================================
Version    : 1.0
Author     : Geyi Zhang
====================================================

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html { font-size: 100%; overflow-x: hidden; width: 100%; margin: 0px; padding: 0px; touch-action: manipulation;}

body { font-size: 14px; font-family: 'Open Sans', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400; -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; word-wrap: break-word; overflow-x: hidden; color: #333; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { line-height: 1.5; font-weight: inherit; }

h1, h2, h3, .font-beyond { font-family: 'beyond_the_mountainsregular', sans-serif; }

p { line-height: 1.7; font-size: 1.05em; font-weight: 400; color: #555; }

h1 { font-size: 7.5em; line-height: 1.4; }

h2 { font-size: 4em; line-height: 1.4; }

h3 { font-size: 3em; }

h4 {   font-size: 1.8em; }

h5 { font-size: 1.3em; }

h6 {  font-size: .95em; letter-spacing: 1px; }

a, button { display: inline-block; text-decoration: none; color: inherit; line-height: 1.3; -webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out;}

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover { text-decoration: none; color: #EF0031;}

b {  font-weight: 700; }

img { width: 100%;}

li { list-style: none; display: inline-block; line-height: 1.6; font-size: .9em; }

span { display: inline-block; }

button { outline: 0; border: 0; background: none; cursor: pointer; }

.icon { font-size: 1.1em;display: inline-block;line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before { line-height: inherit; }

b.max-bold { font-weight: 700; }

input:focus,
textarea:focus { outline-color: #EF0031; }

::placeholder { color: #aaa; font-weight: 700; }

:-ms-input-placeholder { color: #aaa; font-weight: 700; }

:-ms-input-placeholder { color: #aaa; font-weight: 700; }

.card { border-radius: 0px; border: 0px; background: none; box-shadow: none; }

.card .bg-white {
        height: 100%;
        border-radius: 2px;
        box-shadow: 1px 1px 20px -10px rgba(0, 0, 0, .3);
}

.card i { font-size: 1.2em;}



/* RESPONSIVE */

@media only screen and (max-width: 1200px) {

        h1 { font-size: 6em; }
}

@media only screen and (max-width: 767px) {

        p {  line-height: 1.4;  }

        h1 { font-size: 4em;  }

        h2 { font-size: 3em; }
}

@media only screen and (max-width: 575px) {

        body {  font-size: 13px;  }

        h1 {   font-size: 3em;  }

        h2 { font-size: 2.5em; }
}


/* ---------------------------------
3. HEADER
--------------------------------- */

header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1000;
        padding: 25px 0;
        font-weight: 600;
        color: #fff;
}

header:after {
        content: '';
        height: 10px;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg_black.png) repeat-x;
        background-size: 26px 10px;
        opacity: .6;
}

header:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0px;
        left: 0;
        right: 0;
        background: #000;
        z-index: -1;
        opacity: .6;
}

header i {
        font-size: 1.1em;
}

/* BOTTOM HEADER */

header:after {
        content: '';
        clear: both;
}

header .logo {
        float: left;
        height: 70px;
}

header .logo img {
        height: 100%;
        width: auto;
}

header ul.main-menu > li > a {
        height: 100%;
        line-height: 70px;
        padding: 0px 15px;
}


/* DROPDOWN MENU STYLING */

header .main-menu {
        font-size: 1.1em;
}

header .main-menu li.drop-down {
        position: relative;
        text-align: left;
}

header .main-menu li.drop-down > ul.drop-down-menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        min-width: 180px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
        background: #fff;
        color: #111;
}

header .main-menu li.drop-down > ul.drop-down-menu li {
        display: block;
        border-top: 1px solid #ddd;
}

header .main-menu li.drop-down > ul.drop-down-menu li > a {
        display: block;
        padding: 17px 20px;
}

header .main-menu i {
        margin-left: 10px;
}


/* ---------------------------------
2. SLIDER
--------------------------------- */

.main-slider{ position: relative; z-index: 1; }

.main-slider:after{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; background: rgba(0,0,0,.4); }

.triangle-bottom{
        position: relative;
}

.triangle-bottom:after {
        content: '';
        height: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.png) repeat-x;
        background-size: 26px 10px;
        transform: rotate(180deg); -webkit-transform: rotate(180deg);
}

.triangle-up:after {
        content: '';
        height: 10px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.png) repeat-x;
        background-size: 26px 10px;
}
.pos-top{ position: absolute; top: 0; left: 0; right: 0;  }
.pos-bottom{ position: absolute; bottom: 0; left: 0; right: 0; }


/*SWIPER*/

.swiper-pagination-bullet{ background: #FFFFFF; opacity: 1;  }

.swiper-pagination-bullet-active{ background: #ED0037; }

.dplay-tbl {  display: table;  height: 100%; width: 100%;}

.dplay-tbl-cell {display: table-cell; vertical-align: middle; }

.oflow-hidden { overflow: hidden; }

.oflow-visible { overflow: visible; }

.dplay-none { display: none; }

.dplay-block { display: block; }

.dplay-inl-block { display: inline-block; }


/*RESPOSNSIVE*/

@media only screen and (max-width:992px) {

        .dplay-md-none{ display: none; }
}

@media only screen and (max-width:767px) {

        .dplay-sm-none{ display: none; }
}


/* POSITION */

.pos-relative { position: relative; z-index: 1; }

.abs { position: absolute;z-index: 1; }

.abs-tlr { position: absolute; top: 0; left: 0; right: 0; z-index: 1; }

.abs-tlr-30 { position: absolute; top: 30px; left: 30px; right: 30px; z-index: 1; }

.abs-blr { position: absolute; bottom: 0; left: 0; right: 0; z-index: 1; }

.abs-tl { position: absolute; top: 0; left: 0; z-index: 1; }

.abs-bl { position: absolute; bottom: 0; left: 0; z-index: 1; }

.abs-tbl { position: absolute; top: 0; bottom: 0; left: 0; z-index: 1; }

.abs-br { position: absolute; bottom: 0; right: 0; z-index: 1; }

.abs-tbr { position: absolute; top: 0; bottom: 0; right: 0; z-index: 1; }

.abs-tblr { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; }

.abs-center { position: absolute; top: 50%; left: 50%; z-index: 1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.z--1 { z-index: -1; }

.z-1 { z-index: 1; }

.z-10 { z-index: 10; }


/* ALIGNMENT */

.float-left {float: left !important;}

.float-right { float: right !important;}

.center-text { text-align: center!important; }

.left-text { text-align: left !important; }

.right-text { text-align: right !important;}

@media only screen and (max-width: 767px) {

        .center-sm-text{ text-align: center!important; }

        .left-sm-text { text-align: left !important;}
}

/* FONTS */

.font-5 { font-size: .5em; }

.font-6 { font-size: .6em; }

.font-7 { font-size: .7em; }

.font-75 { font-size: .75em; }

.font-8 { font-size: .8em; }

.font-85 { font-size: .85em; }

.font-9 { font-size: .9em; }

.font-11 {  font-size: 1.1em; }

.font-12 { font-size: 1.2em; }

.font-13 { font-size: 1.3em; }

.font-14 { font-size: 1.4em; }

.font-15 { font-size: 1.5em; }

.font-16{ font-size: 1.6em; }

.font-17 { font-size: 1.7em; }

.font-18 { font-size: 1.8em; }

.font-20 { font-size: 2em; }

.font-23{  font-size: 2.3em; }

.font-25{  font-size: 2.5em; }

.font-30{  font-size: 3em; }

.font-40{  font-size: 4em; }


/* RESPONSIVE */

@media only screen and (max-width: 1200px) {

        .dplay-lg-none { display: none; }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {

        .float-sm-none { float: none !important; }

        .center-sm-text { text-align: center !important; }

        .pos-sm-static { position: static; }

        .font-sm-13 { font-size: 1.3em; }

        .font-sm-15 { font-size: 1.5em; }

        .font-sm-20 { font-size: 2em; }
}

@media only screen and (max-width: 575px) {

        .pos-xs-relative { position: relative; z-index: 1; }

        .pos-xs-static { position: static; z-index: 1; }

        .dplay-xs-block { display: block; }

        .text-xs-center { text-align: center; }
}

/* COLOR */

.color-white {
        color: #fff !important;
}

.color-green {
        color: #36D98A;
}

.color-ash {
        color: #aaa;
}

.color-ccc {
        color: #ccc;
}

.color-grey {
        color: #ccc;
}

.color-primary {
        color: #EF0031;
}

.color-black { color: #111; }

.color-semi-black { color: #555; }

.color-lt-black { color: #888; }


/* BACKGROUND COLOR*/

.bg-seller{ background: url(../images/sellers-1.jpg)  no-repeat; background-size: cover; position: relative; z-index: 1; }

.bg-seller:after{ content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; background: rgba(0,0,0,.85); }

.bg-191 { background: #191919; }

.bg-primary { background: #EF0031 !important; }

.bg-2-white { background: #F2F2F2; }

.bg-1-white { background: #F8F8F8; }

.bg-black { background: #000000; }

.bg-tp-5 { background: rgba(0, 0, 0, .5); }

.bg-lite-blue{ background: #F4F8F9; }

.bg-semi-blue{ background: #dae0e1; }

.bg-trinagle-primary{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #EF002E;
        -wekit-transform-origin: right bottom; transform-origin: right bottom;
        -wekit-transform: translateX(50px) rotate(-55deg) scale(2); transform: translateX(50px) rotate(-55deg) scale(2); }


/*IMAGES & BACKGROUND IMAGES*/

.ïmg-200x{ height: 200px; width: 200px; }
.img-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
}


/*BACKGROUND IMAGES*/
.bg-1 { background: url(../images/slider_1_lettuce.jpg) no-repeat center; background-size: cover; }

.bg-2 { background: url(../images/story_bg_1.jpg) no-repeat center; background-size: 100%; }

.bg-3 {  background: url(../images/story_bg_2.jpg) no-repeat center;  background-size: 100%; }

.bg-4 {  background: url(../images/slider_2_empty_table.jpg) no-repeat center;  background-size: cover; }

.bg-5 {  background: url(../images/slider_1_lettuce.jpg) no-repeat center;  background-size: cover; }

.bg-6 {  background: url(../images/slider_1_lettuce.jpg) no-repeat center;  background-size: cover; }

.bg-7 {  background: url(../images/slider_1_lettuce.jpg) no-repeat center;  background-size: cover; }

.bg-8 {  background: url(../images/slider_1_lettuce.jpg) no-repeat center;  background-size: cover; }

.bg-grad-layer-6:after { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; opacity: .6;
        background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, .4) 100%); }
.bg-white {  background: #fff; }



/* RESPONSIVE */

@media only screen and (max-width: 767px) {

        .bg-sm-color-6 {  background: rgba(0, 0, 0, .6); }

        .bg-sm-color-7 {  background: rgba(0, 0, 0, .7); }
}

/* BORDER */

.brder-grey { border: 1px solid #ccc; }

.brder-t-grey { border-top: 1px solid #ccc; }

.brder-t-light{ border-top: 1px solid #ddd; }

.brder-r-ash-3{ border-right: 3px solid #aaa; }

.brder-r-lite-black-2{ border-right: 2px solid #777; }

.brder-lr-lite-black-2{ border-left: 2px solid #777; border-right: 2px solid #777; }

.brder-tlr-grey {
        border: 1px solid #ccc;
        border-bottom: 0;
}

.brder-blr-grey {
        border: 1px solid #ccc;
        border-top: 0;
}

.brdr-ash-1 {
        height: 1px;
        background: #aaa;
}

.brdr-grey-1 {
        height: 1px;
        background: #ddd;
}

.brdr-b-primary{ border-bottom: 2px solid #EF0031; }

.brdr-primary-2{ border: 2px solid #EF0031; }

.brdr-primary-3{ border: 3px solid #EF0031; }

.brdr-style-1{  position: absolute;left: 0; right: 0; bottom: 0; ; z-index: 1; height: 8px; }
.brdr-style-1:after{ content:''; display: block; height: 60%; background: #1F8330;  z-index: 1; }
.brdr-style-1:before{content:'';  height: 40%; display: block; background: #FFFFFF;  z-index: 1; }


/* LINK STYLING	 */

.link-brdr-btm-primary {
        position: relative;
        padding-bottom: 5px;
        -webkit-transition: all .2s;
        transition: all .2s;
}

.link-brdr-btm-primary:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: #EF0031;
        -webkit-transition: all .2s;
        transition: all .2s;
        -webkit-transform-origin: right;
        transform-origin: right;
}

.link-brdr-btm-primary:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
}

.link-brdr-btm-primary:hover:after {
        -webkit-transform: scale(0);
        transform: scale(0);
}

/* BUTTON STYLING */

.btn-brdr-primary { text-align: center; height: 45px; line-height: 43px; border: 1px solid #EF0031; color: #EF0031; border-radius: 2px; }

.btn-brdr-primary:hover { background: #EF0031; color: #FFFFFF; }

.btn-primaryc { position: relative; text-align: center; height: 55px; line-height: 50px; background: #EF0031; color: #fff; border-radius: 3px; z-index: 1; }

.btn-primaryc.secondary{ background: #118522; }

.btn-primaryc:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 3px; background: #1F8330; z-index: -2; -webkit-transition: all .1s ease-in;
        transition: all .1s .1s ease-in; }

.btn-primaryc:before { content: ''; position: absolute; bottom: 3px; left: 0; right: 0; height: 2px; background: #FFFFFF; z-index: -1;
        -webkit-transition: all .1s  .2s ease-in; transition: all .1s  ease-in; }

.btn-primaryc:hover { color: #111 }

.btn-primaryc:hover:after { height: 100%; }

.btn-primaryc:hover:before { height: 100%;  border: 1px solid #1F8330; }

.btn-brdr-grey { text-align: center; height: 45px; line-height: 43px; border: 1px solid #ccc; border-radius: 2px; }

.btn-brdr-grey:hover {border: 1px solid #EF0031;background: #EF0031;color: #000; }

.btn-fill-primary { text-align: center; height: 55px; line-height: 53px; border: 1px solid #EF0031; background: #EF0031; border-radius: 2px; color: #FFFFFF; }

.btn-fill-primary.secondary {  height: 55px; line-height: 53px; border: 1px solid #1F8330; background: #1F8330; }

.btn-fill-primary:hover { background: none; color: #EF0031; }
.btn-fill-primary.secondary:hover { background: none; color: #1F8330; }

.btn-fill-grey { text-align: center; height: 45px; line-height: 43px; border: 1px solid #ccc; background: #ccc; border-radius: 2px; color: #111; }

.btn-fill-grey:hover { border: 1px solid #EF0031; background: none; color: #000; }

.btn-b-lg { font-size: 1em; height: 55px; line-height: 55px; }

.btn-b-md { font-size: .9em; height: 35px; line-height: 35px; }

.btn-b-sm { font-size: .9em; height: 30px; line-height: 28px; }


/* FORM INPUT STYLING */

.form-block input,
.form-block textarea {
        display: block;
        width: 100%;
}

/*FORM*/
.form-style-1 textarea,
.form-style-1 input{ display: block; width: 100%; padding: 0 20px;  border: 0px; border-bottom: 3px solid transparent; background: #EFF6F7; height: 50px;
        outline: 0; -webkit-transition: all .2s ease-in;  transition: all .2s ease-in; }

.form-style-1 textarea:focus,
.form-style-1 input:focus,
.form-style-1 textarea:active,
.form-style-1 input:active{ border-bottom: 3px solid #EF0031; }

.placeholder-1 ::-webkit-input-placeholder { font-style: italic; color: #aaa; font-size: .9em;  }
.placeholder-1 ::-moz-placeholder { font-style: italic; color: #aaa; font-size: .9em; }
.placeholder-1 :-ms-input-placeholder { font-style: italic; color: #aaa; font-size: .9em;  }
.placeholder-1 :-moz-placeholder { font-style: italic; color: #aaa; font-size: .9em;  }


.form-bold input,
.form-bold textarea {
        font-weight: 700;
}

.form-plr-15 input,
.form-plr-15 textarea {
        padding: 0 15px;
}

.form-plr-20 input,
.form-plr-20 textarea {
        padding: 0 20px;
}

.form-h-35 input {
        height: 35px;
}

.form-h-40 input {
        height: 40px;
}

.form-h-45 input {
        height: 45px;
}

.form-h-50 input {
        height: 50px;
}

.form-h-55 input {
        height: 55px;
}

.form-mb-20 input,
.form-mb-20 textarea {
        margin-bottom: 20px;
}

.form-brdr-grey input,
.form-brdr-grey textarea {
        border: 1px solid #ccc;
}

.form-brdr-lite-white input,
.form-brdr-lite-white textarea {
        border: 1px solid #ddd;
}

.form-brdr-b-grey input,
.form-brdr-b-grey textarea {
        outline: 0;
        border: 0px;
        border-bottom: 1px solid #ccc;
}

.form-brdr-b-grey input:focus,
.form-brdr-b-grey textarea:focus {
        border-bottom: 1px solid #EF0031;
}

.form-brdr-b input,
.form-brdr-b textarea {
        outline: 0;
        background: none;
        border: 0;
        border-bottom: 1px solid #ccc;
}

.form-bg-white input,
.form-bg-white textarea {
        background: #fff;
        border: 1px solid #eee;
}


/*SELECTION*/

ul.selecton{ text-align: center;  font-size: 1.2em;  }

ul.selecton li > a{ padding: 15px 30px;   }

ul.selecton li:hover a,
ul.selecton li a.active{ border-radius: 3px 3px 0 0; background: #EF0031; color: #FFFFFF;  }

.food-menu{ display: none;  }
.food-menu.active{ opacity: 0; display: block!important; animation: full-opacity-anim .3s forwards ; }

@keyframes full-opacity-anim{
        100%{ opacity: 1; }
}


/* INDIVIDUAL STYLING */

.p-title {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 40px;
}

.p-title:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ccc;
}

.p-title:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80px;
        height: 5px;
        background: #EF0031;
        z-index: 1;
}

.quote-primary {
        padding: 10px 20px;
        border-left: 2px solid #EF0031;
}

.hot-news {
        background: #fff;
}

.swiper-scrollbar {
        border-radius: 0px;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        height: 3px;
        background: rgba(255, 255, 255, .5);
        z-index: 10000;
}

.swiper-scrollbar-drag {
        height: 5px;
        top: -3px;
        width: 350px !important;
        border-radius: 0px;
        background: #fff;
}

.all-scroll {
        cursor: all-scroll;
}

/* RESPONSIVE */

@media only screen and (max-width: 767px) {

        .swiper-scrollbar.resp {
                overflow: hidden;
                left: 15px;
                right: 15px;
        }

        .swiper-scrollbar-drag {
                width: 200px !important;
        }

}

.tag > li > a {
        padding: 5px 20px;
        color: #888;
        border: 1px solid #aaa;
}

.tag > li > a:hover {
        background: #111;
        color: #fff;
        border: 1px solid #111;
}



/*FOOTER*/

footer{ background: url("../images/footer_1_oranges.jpg") no-repeat; background-size: cover;  position: relative;  text-align: center;z-index: 1;  font-size: 1.3em; }

.footer-bg-1{ background-image:  url("../images/footer-1.png") ; }
.footer-bg-1:after{ display: none; }

footer,
footer p{ color: #FFFFFF; }

footer:after{ content: ''; position: absolute; top:0 ;left: 0;right: 0; bottom: 0; z-index: -1;  background: rgba(0,0,0,.7); }

.underline-secondary{ color: #37B143;  text-decoration: underline;  }

ul.icon li a{ padding: 10px;  }

.color-light{ color: #cccccc; }

.semi-black{ color: #666666; }

.br-3{ border-radius: 3px;  }
.br-4{ border-radius: 4px;  }
.br-5{ border-radius: 5px;  }



/* LIST */

.list-block > li {
        display: block;
}

.list-relative > li {
        position: relative;
}

.list-a-block > li > a {
        display: block;
}

.list-btm-border-white > li {
        border-bottom: 1px solid #fff;
}

.list-a-bg-grey > li > a {
        background: #EBEBEB;
}

.list-a-br-2 > li > a {
        border-radius: 2px;
}

.list-a-hw-radial-35 > li > a {
        height: 35px;
        width: 35px;
        border-radius: 35px;
        line-height: 35px;
}

.list-a-hvr-primary > li > a:hover {
        background: #EF0031;
        color: #fff;
}